HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
logs/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/logging.file.path_IS_UNDEFINED/debug.log
/logging.file.path_IS_UNDEFINED/error.log
/logging.file.path_IS_UNDEFINED/fatal.log
/logging.file.path_IS_UNDEFINED/info.log
/logging.file.path_IS_UNDEFINED/off.log
/logging.file.path_IS_UNDEFINED/trace.log
/logging.file.path_IS_UNDEFINED/warn.log
/logging.file.path_IS_UNDEFINED/2022-02-02/error.log
/logging.file.path_IS_UNDEFINED/2022-02-02/info.log
/logging.file.path_IS_UNDEFINED/2022-02-02/warn.log
