<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application-test.properties"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.pattern.console}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="Console" level="${logging.level.console}"/>
    </root>
</configuration>