<footer th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="_row footer-container">
        <div class="_col-4 _col-sm-12">
            <h3>Qui nous sommes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quam quis similique sint dolorem necessitatibus magni ducimus ea in numquam. Quos incidunt delectus rem soluta doloremque omnis? Maxime, dolore sequi.</p>
            <div class="footer_icons">
                <a href="https://github.com/" target="_reblank"><i class="fab fa-github"></i></a>
                <a href="https://fr.linkedin.com/school/ensup-business-school/" target="_rereblank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.facebook.com/zuck" target="_rereblank"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
        <div class="_col-4 _col-sm-12">
            <h3>Horaire d'ouverture</h3>
            <span>Du lundi au lundi, Gucci et Fendi</span>
            <h3>Email</h3>
            <span>mail@info.yahoo</span>
            <h3>Téléphone</h3>
            <span>0165247835</span>
        </div>
        <div class="_col-4 _col-sm-12">
            <h3>Accès rapide</h3>
            <a class="link-normal" href="https://www.google.com" target="_blank">Google</a>
            <a class="link-normal" href="http://intranet.ensup.eu/hp/etudiant" target="_blank3">Présentiel-planning</a>
            <a class="link-normal" href="https://fontawesome.com/v5.15/icons/" target="_blank2">Font Awesome</a>

        </div>
    </div>
</footer>