<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>Titre de la page</title>
    <meta name="description" content="Description de la page">
</head>
<link th:href="@{/assets/styles.css}" rel="stylesheet"/>
<link th:href="@{/assets/script.js}" rel="javascript"/>

<body>

    <main layout:fragment="content">
            <div class="main_container--form">
                <h1>Se connecter</h1>
                <form class="_row" th:action="@{/save}" th:object="${user}" method="post">
                    <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Nom</label>
                        <input type="text" class="form-java_input _col-12" th:field="*{username}">
                    </div>
        
                    <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Prénom</label>
                        <input type="text" class="form-java_input _col-12" th:field="*{lastName}">
                    </div>
        
                    <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Mot de passe</label>
                        <input type="password" class="form-java_input _col-12" th:field="*{password}">
                    </div>
                    <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Confirmer votre mot de passe</label>
                        <input type="password" class="form-java_input _col-12" th:field="*{password}">
                    </div>
        
                    <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Adresse</label>
                        <input type="text" class="form-java_input _col-12" th:field="*{address}">
                    </div>
        
                    <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Email</label>
                        <input type="text" class="form-java_input _col-12" th:field="*{email}">
                    </div>
                    <div class="_col-12 button-handler">
                        <button onclick="document.getElementById('menu').scrollIntoView();" class="button--big button-double"
                                type="submit">S'inscrire
                        </button>
                    </div>
        
                </form>
            </div>
            <h4 th:text="${session.error}"></h4>
        </main>
</body>
</html>

