<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="script.js"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '');
        </script>
        <!-- Technical needs -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- To support IE8 and IE9 -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Control layout on mobile -->

        <!-- Stuff that is visible or useful for SEO -->
        <title>Titre de la page</title>

        <meta name="description" content="">
        <meta charset="utf-8">
        <meta name="theme-color" content="#141414">
        <meta name="locale" content="en_US">
        <meta name="keywords" content="keyword, keyword">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="thumbnail" content=""/><!-- The image visible in search results -->

        <meta name="robots" content="index, follow, all" />

        <link rel="manifest" href="manifest.json"> <!-- Link to the manifest.json -->
        <link rel="canonical" href="">
        <link rel="shortcut icon shortcut apple-touch-icon apple-touch-icon-precomposed" type="image/png" href="/img/logos/logo.png">

        <!-- For sharing purposes -->
        <meta property="og:url" content="" />
        <meta property="og:type" content="" /><!-- On peut ajouter plusieurs types -->
        <meta property="og:title" content="" />
        <meta property="og:description" content="">
        <meta property="og:site_name" content="1234.com">
        <meta property="og:image" content="" />
        <meta property="og:image:height" content="1200" />
        <meta property="og:image:width" content="630" />

        <meta property="fb:app_id" content=""><!-- Doesnt do anything -->
    
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        <!-- Styles -->
        <link rel="stylesheet" href="styles.css">
        <!-- External Libraries DN'ai eue S -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Google Fonts for the fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Roboto+Slab&display=swap" rel="stylesheet">
        <!-- Font Awesome for the icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css">

        <base href="/">
        <meta name="google-site-verification" content="xmPhBSEBg0SJc5EZjqOlWFBigNILnPy54t_XVX8dLk8" />
        <script src="" async defer></script>
        <link th:href="@{/assets/styles.css}" rel="stylesheet" />
        <!-- <meta http-equiv="refresh" content="3"> -->
    </head>
    <body>
    <!-- For Seo : 1 Use the right tag, 2 : use alt, title and so on, 3 : post regularly -->

        <header>
            <nav class="navbar-music _row">
                <div class="_col-4 navbar-music_container--left">
                    <a class="navbar-music_logo" href="">
                        <img src="../static/assets/images/myresto.png" th:src="@{/assets/images/myresto.png}" alt="logo myresto" class="svg" />
                    </a>
                </div>
                <!--  <div class="_col-4">
                    <a class="navbar-music_link" href="javascript:window.location.href=window.location.href"><span>Mes commandes</span></a>
                    <a class="navbar-music_link" href="javascript:window.location.href=window.location.href"><span>Mon panier</span></a>
                </div> -->
                <div class="_col-4 navbar-music_container--right">   
                    <a class="navbar-music_link" href="javascript:window.location.href=window.location.href"><span><i class="fas fa-user"></i></span></a>
                </div>
            </nav>
        </header>

        <main>

            <div class="main_container--form">
                <h1>Se connecter</h1>
                <form class="_row" th:action="@{/signin}" th:object="${user}"  method="post">
                        <div class="form-java_container _row _col-6 _col-sm-12">
                            <label class="form-java_label _col-12">Login</label>
                            <input type="text" class="form-java_input _col-12" th:field="*{username}">
                        </div>

                        <div class="form-java_container _row _col-6 _col-sm-12">
                            <label class="form-java_label _col-12">Mot de passe</label>
                            <input type="text" class="form-java_input _col-12" th:field="*{password}">
                        </div>

                    <!-- <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Select</label>
                        <select class="form-java_input _col-12">
                            <option selected disabled hidden>Select a value</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div> -->
    
                    <!-- <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">TextArea</label>
                        <textarea rows="1" class="form-java_input _col-12"></textarea>
                    </div> -->
    
                    <!-- <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">Date</label>
                        <input type="date" class="form-java_input _col-12">
                    </div> -->
    
                    <!-- <div class="form-java_container _row _col-6 _col-sm-12">
                        <label class="form-java_label _col-12">File</label>
                        <input type="file" id="inputFile" class="form-java_input _col-12">
                        <label class="form-java_input form-java--file _col-12" for="inputFile"><span>Upload your file <i class="fas fa-folder-open"></i></span></label>
                    </div> -->

                    <div class="_col-12 button-handler">
                        <button onclick="document.getElementById('menu').scrollIntoView();" class="button--big button-double" type="submit">Se connecter</button>
                    </div>

                </form>
            </div>
            <h4  th:text="${session.error}"></h4>

        </main>

        <footer>
            <div class="_row footer-container">
                <div class="_col-4">
                    <h3>Qui nous sommes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quam quis similique sint dolorem necessitatibus magni ducimus ea in numquam. Quos incidunt delectus rem soluta doloremque omnis? Maxime, dolore sequi.</p>
                    <div class="footer_icons">
                        <a href="https://github.com/" target="_reblank"><i class="fab fa-github"></i></a>
                        <a href="https://fr.linkedin.com/school/ensup-business-school/" target="_rereblank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.facebook.com/zuck" target="_rereblank"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
                <div class="_col-4">
                    <h3>Horaire d'ouverture</h3>
                    <span>Du lundi au lundi, Gucci et Fendi</span>
                    <h3>Email</h3>
                    <span>mail@info.yahoo</span>
                    <h3>Téléphone</h3>
                    <span>0165247835</span>
                </div>
                <div class="_col-4">
                    <h3>Accès rapide</h3>
                    <a class="link-normal" href="https://www.google.com" target="_blank">Google</a>
                    <a class="link-normal" href="http://intranet.ensup.eu/hp/etudiant" target="_blank3">Présentiel-planning</a>
                    <a class="link-normal" href="https://fontawesome.com/v5.15/icons/" target="_blank2">Font Awesome</a>
                    
                </div>
            </div>
        </footer>

        <nav class="navbar-mobile">
            <a><i class="fas fa-pizza-slice"></i></a>
            <a><i class="fas fa-clipboard"></i></a>
            <a><i class="fas fa-shopping-cart"></i></a>
            <a><i class="fas fa-user"></i></a>
        </nav>

    </body>
</html>

