<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>MyResto - Page des statistiques</title>
    <meta name="description" content="Étudie les chiffres pour faire plus de chiffres.">
</head>
<link th:href="@{/assets/styles.css}" rel="stylesheet"/>

<body>

    <main layout:fragment="content">
        <main>
            <div class="main_container--form">
                <div class="_row">
                    <div class="_col-6">
                        <!-- <div class="container"> -->
                            <div id="container1"></div>
                        <!-- </div> -->
                    </div>
                    <div class="_col-6">
                        <!-- <div class="container"> -->
                            <div id="container2"></div>
                        <!-- </div> -->
                    </div>
                    <div class="_col-6">
                        <!-- <div class="container"> -->
                            <div id="container3"></div>
                        <!-- </div> -->
                    </div>
        
                    <script
                            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        
                    </script>

                    <!-- Latest compiled and minified JavaScript -->
                    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> -->
        
                    </script>
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script th:inline="javascript">
            $(function(){
            Highcharts.chart('container1', {
            colors: ['#058DC7', '#50B432', '#ED561B'],
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'États des commandes'
                },
                xAxis: {
                    categories: [[${keySet}]],
                    crosshair: true,
                },
                yAxis: {
                    min: 0,
                    max:50,
                    title: {
                        text: 'Volume'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                colors: ['#50B432', '#058DC7', '#ED561B'],
                series: [{
                    name: 'Total',
                    data: [[${values}]]
                }]
              });
            });
        </script>
                    <script th:inline="javascript">
            $(function(){
            Highcharts.chart('container2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Chiffres d\'affaires par jour'
                },
                xAxis: {
                    categories: [[${key}]],
                    crosshair: true,
                },
                yAxis: {
                    min: 0,
                    max:500,
                    title: {
                        text: 'Euros'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} €</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Total',
                    data: [[${val}]]
                }]
              });
            });
        </script>
                    <script th:inline="javascript">
            $(function(){
           Highcharts.chart('container3', {
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: 'Chiffre d\affaire par jour par état de commande'
                    },
                    xAxis: {
                        type: 'datetime',
                        labels: {
                            formatter: function() {
                                return Highcharts.dateFormat('%d-%m-%Y', this.value);
                            }
                        },
                    },
                    yAxis: {
                        title: {
                            text: 'Euros'
                        },
                        min: 0
                    },
                    tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x:%e %b., %Y}: {point.y:.2f} m'
                    },
        
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: true
                            }
                        }
                    },
        
                    colors: ['#2471A3', '#229954', '#BA4A00'],
        
                    series: [{
                        name: 'Created',
                        data: [[${mapCreated}]]
                    },{
                        name: 'Delivered',
                        data: [[${mapDelivered}]]
                    }],
        
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                plotOptions: {
                                    series: {
                                        marker: {
                                            radius: 2.5
                                        }
                                    }
                                }
                            }
                        }]
                    }
                });
            });
        </script>
                </div>
        
            </div>
        </main>
</body>
</html>

