<!DOCTYPE html>
<html lang="fr" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout.html}">
<head>
    <title>MyResto - Mon compte</title>
    <meta name="description" content="Le compte de la personne connecté.">
</head>
<link th:href="@{/assets/styles.css}" rel="stylesheet"/>
<link th:href="@{/assets/script.js}" rel="javascript"/>

<body>

    <main layout:fragment="content">
        <!-- Si nécessaire -->
        <div th:replace="fragments/cart :: div"></div>

        <div class="main_container--form">
            <div class="_row">
                <h1 class="_col-12">Jean-Claude</h1>
                <div class="_col-12">
                    <div class="img-container">
                        <img atl="" src="C:\Users\brice\Desktop\front myresto\new new\calum-lewis-rPkgYDh2bmo-unsplash.jpg">
                    </div>
                </div>
                <div class="_col-12">
                    <div class="_row">
    
                        <span class="form-java_label _col-12">Prénom: Jean</span>
                        <span class="form-java_label _col-12">Nom: Claude</span>
                        <span class="form-java_label _col-12">Email: jc@jc.jc</span>
    
    
                    </div>
                </div>
            </div>
    
            <div class="_col-12 button-handler button-handler--left">
                <button class="button-round"><i class="fas fa-sign-out-alt"></i> Se déconnecter</button>
            </div>
            <div class="_col-12 button-handler button-handler--left">
                <button class="button-round button-round--main"><i class="fas fa-user-minus"></i> Supprimer son compte
                </button>
            </div>
        </div>
    
    </main>

</body>
</html>

